bin/
bin64/
vc.proj/x64/
vc.proj/Debug/
vc.proj/Release/
UpgradeLog.htm
vc.proj/NppPluginConverter.vcxproj.user
vc.proj/NppPluginConverter.exp
vc.proj/NppPluginConverter.lib
*.sdf
*.suo
*.filters
*.opensdf
*.sln
*.exp
vc.proj/NppConverter.lib