bin/
bin64/
arm64/
vs.proj/.vs/
vs.proj/x64/
vs.proj/ARM64
vs.proj/Win32/
UpgradeLog.htm
vs.proj/NppPluginConverter.vcxproj.user
vs.proj/NppPluginConverter.exp
vs.proj/NppPluginConverter.lib
*.sdf
*.suo
*.filters
*.opensdf
*.sln
*.exp
*.aps
*.bak
*.log
*.tlog
vs.proj/NppConverter.lib